<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="printCount" value="100" />
    <add key="printPaperWidth" value="90" />
    <add key="printPaperHeight" value="100" />
    <add key="printPageLeft" value="10" />
    <add key="printPageTop" value="10" />
    <add key="printBarCodeHeight" value="16" />
    <add key="printCodeSize" value="9" />
    <add key="printWordSize" value="11" />
    <add key="printWordType" value="宋体" />
    <add key="urlRsBarcodeQuery" value="api/v1/ds/barcode/query" />
    <add key="urlEnvironmentTest" value="http://t-bms.shennongke.com:8080/msk-web/" />
    <add key="urlEnvironmentUat" value="http://uat.shennongke.com/msk-web/" />
    <add key="urlEnvironmentPro" value="http://bms.shennongke.com/bms/" />
  </appSettings>
</configuration>